{% extends "bs-slider.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for swiper thumbs gallery.
 *
 * Available variables:
 * - gallery_items - Array of gallery items.
 * - thumbs_items - Array of thumbs items.
 * - attributes: HTML attributes for the containing element.
*/
#}
{% block slider %}
  {#  {% do attributes.addClass('swiper-thumbs-gallery') %}#}
  <div {{ attributes.addClass(classes) }}>
    {{ gallery_items }}
    {{ thumbs_items }}
  </div>
{% endblock %}
