{% extends "bs-slider.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for swiper slider.
 *
 * Available variables:
 * - items - Array of slider items.
 * - options - Array of bs_slider optionset
 * - attributes: HTML attributes for the containing element.
*/
#}
{% block slider %}
  {% do attributes.addClass('swiper') %}
  <div {{ attributes.addClass(classes) }}>
    {% block slider_inner %}
      {{ block('item') }}
      {% if pagination -%}
        <div class="swiper-pagination"></div>
      {%- endif %}
      {% if navigation -%}
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      {%- endif %}
      {% if scrollbar -%}
        <div class="swiper-scrollbar"></div>
      {%- endif %}
    {% endblock %}
  </div>
{% endblock %}
{% block item %}
  <div class="swiper-wrapper">
    {% for item in items -%}
      <div class="swiper-slide">
        {{ item }}
        {% if _lazyLoading -%}
          <div class="swiper-lazy-preloader"></div>
        {%- endif %}
      </div>
    {%- endfor %}
  </div>
{% endblock %}
