@use "sass:math";

$zindex-modal-backdrop: 1040 !default;

$bs-slider-bg-color: rgba(0, 0, 0, .9) !default;
$bs-slider-color: #fff !default;

// translateZ(0) will help with slight changes of height when animation is
// running.
$bs-slider-thumbnail-transform: scale(1) translateZ(0) !default;
$bs-slider-thumbnail-transform-hover: scale(1.05) !default;
$bs-slider-thumbnail-hover-transition-time: .15s ease !default;

$bs-slider-gallery-transition-time: .2s !default;
$bs-slider-gallery-width: 100% !default;
$bs-slider-gallery-height: 90% !default;

.bs-slider {
  &--bg {
    background-color: $bs-slider-bg-color;
    // Generally any text should be white by default, but this also helps when
    // you have a rules like a:not([href]) { color: inherit; } on close link.
    color: $bs-slider-color;
  }

  &__gallery {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $zindex-modal-backdrop;
    align-items: center;

    &.bs-slider--visible {
      display: flex;
    }

    &.bs-slider--show {
      .bs-slider__gallery__inner {
        opacity: 1;
      }
    }

    &__inner {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      margin-top: math.div(100% - $bs-slider-gallery-height, 2);
      margin-bottom: math.div(100% - $bs-slider-gallery-height, 2);
      height: $bs-slider-gallery-height;
      opacity: 0;
      transition: opacity $bs-slider-gallery-transition-time;
    }

    .bs-slider {
      width: $bs-slider-gallery-width;
      max-height: 100%;
    }

    .carousel-inner,
    .carousel-item {
      height: 100%;
    }

    .carousel-indicators {
      // Move by indicator height to down so it does not overlap with image
      // description text.
      transform: translateY(100%);
      margin-bottom: 0;
    }

    .media {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > .field {
        // Here we still need to limit max-height to prevent image overflow
        // vertically.
        max-height: 100%;
        // On bigger screens we will limit image height a bit more so image will
        // not touch x close button.
        @media (min-width: 768px) {
          max-height: 95%;
        }
      }

      img {
        // Limit height here also to stop image overflowing.
        // max-height will not work because it will not stop vertical overflow.
        height: 100%;
        // Fit image contain so it does not deform.
        object-fit: contain;
      }
    }
  }

  &__thumbnails {
    .bs-slider__item {
      cursor: pointer;
    }

    .media {
      overflow: hidden;
    }

    img {
      width: 100%;

      @if $bs-slider-thumbnail-transform {
        transition: transform $bs-slider-thumbnail-hover-transition-time;
        transform: $bs-slider-thumbnail-transform;

        &:hover {
          transform: $bs-slider-thumbnail-transform-hover;
        }
      }
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    // Raise it above sibling .bs_slider.
    z-index: 2;
    padding: .5rem;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    line-height: 1.5rem;
    outline: 0;
    opacity: .5;
    text-decoration: none;
    text-shadow: 0 0 2px #000;

    &:hover, &:focus {
      color: #fff;
      opacity: .9;
      text-decoration: none;
    }
  }
}
