@use "sass:math";

$grid-breakpoints: (
  xs: 0,
  md: 768px,
  xl: 1200px,
) !default;

$grid-gutter-width: 30px !default;

$bs-slider-grid-layout: (
  // DEPRECIATED
  2: (xs: 1, md: 2, xl: 2),   // new 1-2-2
  3: (xs: 1, md: 3, xl: 3),   // new 1-3-3
  4: (xs: 1, md: 2, xl: 4),   // new 1-2-4
  6: (xs: 2, md: 3, xl: 6),   // new 2-3-6
  9: (xs: 3, md: 6, xl: 9),   // new 3-6-9
  12: (xs: 3, md: 6, xl: 12), // new 3-6-12
  // NEW
  '1-2-2': (xs: 1, md: 2, xl: 2),
  '1-3-3': (xs: 1, md: 3, xl: 3),
  '1-2-4': (xs: 1, md: 2, xl: 4),
  '2-3-6': (xs: 2, md: 3, xl: 6),
  '3-6-9': (xs: 3, md: 6, xl: 9),
  '3-6-12': (xs: 3, md: 6, xl: 12),
  '2-3-4': (xs: 2, md: 3, xl: 4),
  '3-4-4': (xs: 3, md: 4, xl: 4),
) !default;

$bs-slider-gutter: (
  none: 0,
  small: math.div($grid-gutter-width, 3),
  medium: math.div($grid-gutter-width, 2),
  large: $grid-gutter-width,
) !default;

.bs-slider--layout {
  &--grid {
    display: flex;
    flex-wrap: wrap;
    --gap: 0;
    --columns: 1;

    .bs-slider__item {
      flex: 1 0 calc(100% / var(--columns) - (var(--gap) * (var(--columns) - 1) / var(--columns)));
      max-width: calc(100% / var(--columns) - (var(--gap) * (var(--columns) - 1) / var(--columns)));
    }

    @each $cols, $layout in $bs-slider-grid-layout {
      &.bs-slider--columns--#{$cols} {
        @each $breakpoint, $col in $layout {
          @if map-get($grid-breakpoints, $breakpoint) == 0 {
            --columns: #{$col};
          } @else {
            @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
              --columns: #{$col};
            }
          }
        }
      }
    }
  }

  &--column {
    column-gap: 0;

    .bs-slider__item {
      break-inside: avoid;
    }

    @each $cols, $layout in $bs-slider-grid-layout {
      &.bs-slider--columns--#{$cols} {
        @each $breakpoint, $col in $layout {
          @if map-get($grid-breakpoints, $breakpoint) == 0 {
            columns: #{$col};
          } @else {
            @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
              columns: #{$col};
            }
          }
        }
      }
    }
  }

  &--gutter {
    @each $gutter, $value in $bs-slider-gutter {
      @if $value {
        &--#{$gutter} {
          --gap: #{$value};
          gap: #{$value};

          &.bs-slider--layout--column {
            .bs-slider__item {
              margin-bottom: #{$value};
            }
          }
        }
      }
    }
  }
}
