{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - items - Array of slider items.
 * - options - Array of bs_slider optionset
 * - attributes: HTML attributes for the containing element.
*/
#}
{% set classes = [
  'bs-slider',
  'bs-slider--' ~ plugin_id|clean_class,
  'bs-slider--' ~ bs_slider_id|clean_class,
  field_name ? 'field--name-' ~ field_name|clean_class,
] %}
{% block slider %}
  <div {{ attributes.addClass(classes) }}>
    {% block item %}
      {% for item in items -%}
        <div class="bs-slider__item {{ loop.index == 1 ? 'active' }}">
          {{ item }}
        </div>
      {%- endfor %}
    {% endblock %}
  </div>
{% endblock %}
