{% extends "bs-slider.html.twig" %}
{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - items - Array of slider items.
 * - options - Array of bs_slider optionset
 * - attributes: HTML attributes for the containing element.
*/
#}
{% block slider %}
  {{ attach_library('bs_lib/carousel') }}
  {% set classes = classes|merge([
    'carousel',
    'slide',
    options.crossfade ? 'carousel-fade'
  ]) %}
  <div {{ attributes.addClass(classes) }}>
    {% block indicators %}
      {% if options.indicators %}
        <ol class="carousel-indicators">
          {% for item in items %}
            <li data-target="#{{ id }}" data-slide-to="loop.index0" class="{{ loop.index == 1 ? 'active' }}"></li>
          {% endfor %}
        </ol>
      {% endif %}
    {% endblock %}
    {% block items %}
      <div class="carousel-inner">
        {% for item in items -%}
          <div class="carousel-item {{ loop.index == 1 ? 'active' }}">
            {{ item }}
          </div>
        {%- endfor %}
      </div>
    {% endblock %}
    {% block controls %}
      {% if options.controls %}
        <a class="carousel-control-prev" href="#{{ id }}" role="button" data-slide="prev">
          <div class="carousel-control--bg">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </div>
        </a>
        <a class="carousel-control-next" href="#{{ id }}" role="button" data-slide="next">
          <div class="carousel-control--bg">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </div>
        </a>
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}
